{env.DOMAIN}:443 {
       tls {
               dns desec {
                       token {env.DESEC_TOKEN}
               }

               # Since my ISP sucks.
               propagation_timeout 300s
               propagation_delay 120s
               resolvers 1.1.1.1
       }

       # Logging
       log {
               output stdout
               format console
       }

       # Response compression
       encode zstd gzip

       # Reverse proxy API requests to FastAPI backend container
       handle /api/* {
               reverse_proxy mplads-backend:8000
       }

       # Single Page Application (SPA) routing with HTML5 pushState fallback
       handle {
               root * /srv
               try_files {path} /index.html
               file_server
       }
}
